@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background: #131318;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

.message-bubble a {
  padding-left: 20px;
  text-decoration: none;
  position: relative;
  font-weight: 900;
  background-color: rgb(100 100 104);
  padding: 0 6px 0 24px;
  border-radius: 5px;
}
.message-bubble a:hover {
  border: 0;
  background-color: rgb(88 88 93);
  transition: all;
}
.message-bubble a::before {
  position: absolute;
  content: "\1F517";
  left: 6px;
  top: 0px;
  font-size: 14px;
}
.bottom-8 {
  bottom: 0rem;
  margin-bottom: 2pt;
}
.text-gray-footer {
  /* --tw-text-opacity: 1; */
  color: #adafad;
  font-size: x-small;
}