@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background: #131318;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

.next-intl-provider {
  margin: 50;
  padding: 0;
  display: flex; /* 或者 grid，视具体情况而定 */
  flex-direction: column; /* 如果是 flex 布局 */
  align-items: center; /* 水平居中 */
  justify-content: center; /* 如果需要垂直居中 */
  /* 其他需要的样式 */
}
